[Unit]
Description=mirrorz-302 server
After=network-online.target

[Service]
Type=exec
User=mirrorz
ExecStart=/usr/local/sbin/mirrorzd -config /etc/mirrorzd/config.yml
TimeoutStopSec=5
PrivateTmp=true

[Install]
WantedBy=multi-user.target
