[Unit]
Description=mirrorz-302 server
Wants=network-online.target
After=network-online.target

[Service]
Type=exec
Restart=on-failure
RestartSec=2
User=mirrorz
ExecStart=/usr/local/sbin/mirrorzd -config /etc/mirrorzd/config.yml
ExecReload=/bin/kill -HUP $MAINPID
TimeoutStopSec=5
PrivateTmp=true

[Install]
WantedBy=multi-user.target
